<div class="container-fluid">
    <div>
        <img class="logo" src="../assets/gama-academy-logo-horizontal-verde-branco1.png">
    </div>
    <div class="error-not-found">
        <div class="icon-error">
           <i class= "bi bi-exclamation-triangle"></i>
        </div>
        <div class="text-error">
            Oops, algo deu errado! Confirme seus dados e tente novamente!
        </div>

        <div class="btn">
            <button class="btn btn-error">Voltar
                <i class="bi bi-arrow-left"></i>
            </button>
        </div>
    </div>
</div>

