<div class="container-fluid">
    <div >
        <img class="logo" src="../assets/gama-academy-logo-horizontal-verde-branco1.png">
    </div>
  
    <div>
      <img class="img-home"src="../assets/happy.png">
    </div>
    <div class="text-home">
      Gama Bank é um 
      projeto de nossos
      alunos.
      <br><br>
      Já tem conta?
    </div>
    <div class="button">
      <button class="btn btn-access">
        Acessar
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>
    <div class="form-home">
      <form class="form-group p-5">
        <div class="text-cartao">
          Peça sua conta e cartão de crédito do Gama Bank
        </div>
        <div class="input-field">
          <label class="control-label"></label>
          <input type="text" class="form-control-home" placeholder="Digite seu CPF">
          <p *ngIf="showError('cpf')" class="form__validation">CPf inválido</p>
        </div>
  
        <div class="input-field">
          <label class="control-label"></label>
          <input type="text" class="form-control-home" placeholder="Escolha um usuário">
          <p *ngIf="showError('id')" class="form__validation">Usuário inválido</p>
        </div>
  
        <div class="input-field">
          <label class="control-label "></label>
          <input type="text" class="form-control-home" placeholder="Nome Completo">
          <p *ngIf="showError('name')" class="form__validation">Nome inválido</p>
        </div>
  
        <div class="input-field">
          <label class="control-label"></label>
          <input type="text" class="form-control-home" placeholder="Digite sua senha">
          <p *ngIf="showError('password')" class="form__validation">Senha inválida</p>
        </div>
  
        <div class="input-field">
          <label class="control-label"></label>
          <input type="text" class="form-control-home" placeholder="Confirme sua senha">
          <p *ngIf="showError('temporaryPassword')" class="form__validation">Senha não compatível</p>
        </div>
  
          <div class="btn">
            <button class="btn btn-continue" (click)="submitUser()">Continuar
            <i class="bi bi-arrow-right"></i>
          </button>
  
          </div>
      </form>
      
    </div>
  </div>
  
  
  