.container-fluid{
    background: #8C52E5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 900px;
    /* padding: 52px 63px !important; */
    padding: 0;
    width: auto;
    position: relative;
    .logo{
      max-width: 291px;
      position: absolute;
      left: 63px;
      top: 52px;
    }

    .img-home{}
    
    .text-home{
      position: absolute;
      left: 25%; 
      top: 40%;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 29px;
      line-height: 33px;
      max-width: 261px;
      color: white;
    }
    .button{
      position: absolute;
      left: 25%; 
      top: 62%;
      min-width: 261px;
      .btn-access{
        border-radius: 20px;
        background: #ffffff;
        padding: 10px 20px;
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }
    .form-home{
      position: absolute;
      right: 18%; 
      top: 30%;
      background-color: white;
      width: 350px;
      border-radius: 8px;
      form{
        padding: 2rem !important;
        .text-cartao{
          font-family: 'Roboto'; 
          font-weight: 500;
          font-size: 19px;
          line-height: 22px;
        }
        .input-field{
          display: flex;
          margin: 8% 0;
          input{
            display: flex;
            flex: 1;
            border: 0;
            border-bottom: 1px solid #666;
            padding: 4px;
            &:focus{
              outline: none
            };
          }
        }
        .btn-continue{
          border-radius: 20px;
          background: #D8D8D8;
          padding: 10px 20px;
          display: flex;
          width: 100%;
          justify-content: space-between;
        }
      }
    }
}

@media screen and (max-width: 1500px){
  .text-home, .button{
    left: 10% !important;
  }
  .form-home{
    right: 10% !important;
  }
}

@media screen and (max-width: 1024px){
  .container-fluid{
    align-items: center;
    flex-direction: column;
  }
  .img-home{
    display: none;
  }
  .text-home, .button, .form-home{
    position: initial !important;
  }
  .form-home{
    margin-top: 30px;
  }
}