<div class="container-fluid">
    <div >
        <img class="logo" src="../assets/gama-academy-logo-horizontal-verde-branco1.png">
    </div>
  
    <div>
      <img class="img-home"src="../assets/happy.png">
    </div>
    <div class="text-home">
      Gama Bank é um 
      projeto de nossos
      alunos.
      <br><br>
      Já tem conta?
    </div>
        <div class="button" >
        <button class="btn btn-access">
          Acessar
          <i class="bi bi-arrow-right"></i>
        </button>
      </div> 
    <div class="form-home">   
      <form class="form-group p-2">
        <div class="text-center">
          Peça sua conta e cartão de crédito do Gama Bank
        </div>
          <div class="input-field">
            <label class="control-label" ></label>
            <input type="text" class="form-control-home" placeholder="Digite seu CPF"> 
          </div>
  
          <div class="input-field">
            <label class="control-label" ></label>
            <input type="text" class="form-control-home" placeholder="Escolha um usuário"> 
          </div>
  
          <div class="input-field">
            <label class="control-label "></label>
            <input type="text" class="form-control-home" placeholder="Nome Completo"> 
          </div>
  
          <div class="input-field">
            <label class="control-label" ></label>
            <input type="text" class="form-control-home" placeholder="Digite sua senha"> 
          </div>
  
          <div class="input-field">
            <label class="control-label" ></label>
            <input type="text" class="form-control-home" placeholder="Confirme sua senha"> 
          </div>
  
          <div class="btn">
            <button class="btn btn-continue">Continuar
            <i class="bi bi-arrow-right"></i>
          </button>
  
          </div>
      </form>
      
    </div>
  </div>
  
  
  