<div class="home-container p-3 mx-auto flex-column flex-sm-row">
  <img class="logo" src="../assets/gama-academy-logo-horizontal-verde-branco1.png">

  <div class="home">
    <p class="text-home"> Gama Bank é um projeto de nossos alunos. </p>
    <p class="text-home">
      Já tem conta? </p>
    <div class="button">
      <button class="btn btn-access">
        Acessar
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  </div>
  <section class="account-form">
    <app-create-acount-form></app-create-acount-form>
  </section>

</div>
