.container-fluid{ 
  background-color:#EAEAEA;
  //width:1440px;
  height:900px;
  margin-right: 0px;
  margin-left: 0px;
}

.img-a{
    width: 773px;
    height: 642px;
    top: 259;
    left: 310px;
  }
  .invite{
    position: absolute;
    width: 444px;
    height: 162px;
    left: 170px;
    top: 3925px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    display: flex;
    align-items: center;
  
    color: #000000;
  
  }
  .desc-invite{
    position: absolute;
    width: 459px;
    height: 110px;
    left: 169px;
    top: 4102px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
  
    color: #000000;
  }
  .img-a{
    position: absolute;
    width: 441px;
    height: 604px;
    left: 791px;
    top: 3747px;
  
  }
  