<div class="container-fluid">
    <div class="row row-cols-2">
      <div class="col-left">
        <h1 class="invite">Simplifique a sua vida. Peça seu convite</h1>
        <h4 class="desc-invite">GamaAcademy Bank Line SA - CNPJ 00.000.000/0000-00 <br>
           Rua Fictícia, 999 - 0000-000 - São Paulo, SP <br>
           Este é um projeto de avaliação | Gama Academy | Accenture | 2021</h4>
      </div>
      <div class="col-right">
        <img class="img-a" src="../assets/pngkey 1.png"> 
      </div>
    </div>
  </div>
  