<div class="container-fluid">
    <div class="simplify-details">
        <h1 class="invite">Simplifique a sua vida. Peça seu convite</h1>
        <p> class="desc-invite">GamaAcademy Bank Line SA - CNPJ 00.000.000/0000-00</p>
          <p>Rua Fictícia, 999 - 0000-000 - São Paulo, SP</p>
           <p>Este é um projeto de avaliação | Gama Academy | Accenture | 2021</p>
      </div>
      <div class="simplify-app">
        <img src="assets/images/app-key.png" class="simplify-card">
      </div>
  </div>
