.container-fluid{
  //background-image: url("./assets/Rectangle.png");
   //background-color: #eaeaea;
   height: 900px;
   width: 1400px;
   //margin: 5px;
 }
 .img-home{
   width: 773px;
   height: 642px;
   top: 259;
   left: 310px;
 }