<div class="container-fluid">
    <div>
        <img class="logo" src="../assets/gama-academy-logo-horizontal-verde-branco1.png">
    </div>

    <div class="form-recovery">
    <form class="form-group p-5">
    <div class="text-recovery">
           Esqueci minha senha
           <p>Confirme seu CPF e escolha sua nova senha.</p>
    </div>
    <div class="input-field">        
          <label class="control-label" ></label>
            <input type="text" class="form-control" placeholder="Confirme seu CPF"> 
        </div>
        <div class="input-field">
          <label class="control-label"></label>
            <input type="text" class="form-control" placeholder="Digite sua senha">
        </div>
        <div class="input-field">        
            <label class="control-label" ></label>
              <input type="text" class="form-control" placeholder="Confirme sua nova senha"> 
          </div>
            <div class="btn">
                <button class="btn btn-logon">Enviar
                    <i class="bi bi-arrow-right"></i>
                </button>
            </div>

    </form>
</div>
</div>
