.container-fluid{
    //background-image: url("./assets/Rectangle.png");
    background-color: #8C52E5;
    width:1440px;
    height:900px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .anuidade{
    position: absolute;
    width: 459px;
    height: 50px;
    left: 170px;
    top: 2188px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    /* identical to box height */
  
    display: flex;
    align-items: center;
  
    color: #FFFFFF;
  
  }
  .desc-anuidade{
    position: absolute;
    width: 459px;
    height: 50px;
    left: 170px;
    top: 2274px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
  
    color: #FFFFFF;
  }
  .valor{
    position: absolute;
    width: 373px;
    height: 200px;
    left: 825px;
    top: 2152px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 186px;
    line-height: 218px;
    display: flex;
    align-items: center;
  
    color: #68DE5A;
  }
  