<div class="card-credit-account-container">
  <div class="card-credit-account-body mt-4">
    <div class="card-name mb-4">
      <img src="assets/icons/credit-account.svg">
      <p class="card-name-text ml-3">Conta Crédito</p>
    </div>

    <div class="card-bill mt-4">
      <p class="card-bill-title">Fatural atual</p>
      <p class="card-bill-amount">R$ {{ currentBill }}</p>
    </div>
    
    <div class="card-credit-account-details mt-2">
      <p class="card-details-title">Limite disponível</p>
      <p class="card-details-amount">R$ {{ availableLimit }}</p>
    </div>
  </div>
</div>

