<div class="container-fluid-two">
    <div class="row-main">
      <div class="row-left">
        <div class="digital-txt">Conta Digital do Gama Academy</div>
        <div class="col-left">
          <img class="img-a" src="../assets/app-bg 1.png">
          <div class="desc-digital"> Rende mais que poupança, sem taxa de manutenção nem tarifas escondidas</div>
        </div>
      </div>
      <div class="row-right">
        <div class="col-right">
          <div class="cartao-text">Cartão de Crédito</div>
          <img class="img-b" src="../assets/app-bg 2.png">
          <div class="desc-card">Rende mais que poupança, sem taxa de manutenção nem tarifas escondidas</div>
        </div>
      </div>
    </div>
  </div>
  