.container-fluid-two{
    background-color: #eaeaea;
    
    //width: 1440px;
    height: 900px;
    left: 0px;
    top: 901px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .row-main{
        
        //position: absolute;
          width: 1319px;
          height: 786px;
          left: 63px;
          top: 955px;
         //background: #b1fc02;
  }
  //STYLE LEFT//
  .row-left{
    background-color: #000000;
    width: 658px;
    height: 786px;
    left: 63px;
    top: 955px;
    float: left;
  }
  .col-left {
       width: 527px;
      height: 497px;;
      left: 63px;
      /* top: 1046px; */
      //background-color: red;
      margin-top: 117px;
      
  }
    .digital-txt { 
      color: #68de5a;
      width: 514px;
      height: 50px;
      left: 170px;
      top: 1035px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;
      display: flex;
      align-items: center;
      //background: aqua;
      margin-top: 50px;
      float: right;
  
  }
  .img-a {
    width: 527px;
    height: 533px;
    left: 63px;
    top: 1086px;
  }
  
  .desc-digital{
      width: 278px;
      height: 102px;
      left: 170px;
      top: 1568px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 25px;
      display: flex;
      align-items: start;
      margin-left: 90px;
      color: #68DE5A;
  }
  
  //STYLE RIGTH//
  .row-right{
    width: 658px;
    height: 786px;
    left: 63px;
    top: 955px;
    background: #F8F8F8;
    float:right ;
  }
  .cartao-text{
    width: 582px;
    height: 50px;
    left: 170px;
    top: 1035px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    display: flex;
    align-items: center;
    //background: aqua;
    margin-top: 50px;
    float: right;
  }
  .img-b {
    width: 342px;
    height: 434px;
    left: 830px;
    top: 1110px;
    //background: green;
    margin-left: 76px;
    margin-top: 18px;
  }
  
  .desc-card{
    
      width: 278px;
      height: 102px;
      left: 170px;
      top: 1568px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 25px;
      display: flex;
      align-items: start;
      margin-left: 90px;
      margin-top: 100px;
      color: #1D1D1D;
  }
  