<div class="container-fluid-two">
  <div class="digital-gama">
    <h1 class="digital-txt">Conta Digital do Gama Academy</h1>
    <img class="img-a" src="../assets/app-bg 1.png" class="gama-digital-bg">
    <p class="desc-digital"> Rende mais que poupança, sem taxa de manutenção nem tarifas escondidas</p>
  </div>
  <div class="credit-card">
    <p class="cartao-text">Cartão de Crédito</p>
    <img class="img-b" src="../assets/app-bg 2.png" class="credit-card-bg">
    <p class="desc-card">Rende mais que poupança, sem taxa de manutenção nem tarifas escondidas</p>
  </div>
</div>
