@import 'src/app/sass/colors'
@import 'src/app/sass/form'
@import 'src/app/sass/display'

.logo
  position: absolute
  Width: 250px
  Height: 65px
  Top: 25px
  Left: 5px

.container-fluid
  background-color: $purple
  min-height: 100vh
  display: flex
  margin: 0
  justify-content: center
  align-items: center

.card-login-account
  width: 455px
  height: 422px
  text-align: center
  background-color: $white-light
  border-radius: 8px

.form-group-input
  text-align: left
  background: transparent
  display: flex
  flex-direction: column

.form-title
  font-style: normal
  font-weight: bold
  font-size: 20px
  line-height: 23px
  display: flex
  flex-direction: column
  align-items: left
  color: $black-dark

.ml-2
  margin-left: 0.8rem !important

.form-group-input
  margin: 1rem

.form-btn
  width: 95%
  height: 47.66px
  padding: 0px 15px 0px 15px
  background: #68DE5A
  align-items: center
  justify-content: space-between
  border-radius: 20px
  border: none

.form-btn, text
  color: $white
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 19px
  display: flex
  align-items: center

.btn-links
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.btn-links, a
  color: $purple
  font-style: normal
  font-weight: 500
  font-size: 15px
  line-height: 17px
  display: flex
  align-items: center




