<div class="container-fluid">
    <div>
        <img class="logo" src="../assets/gama-academy.png">
    </div>

    <div class="form-logon">
    <form class="form-group p-2">
    <div class="text-logon">
            Faça seu login
    </div>
    <div class="input-field">        
          <label class="control-label" ></label>
            <input type="text" class="form-control" placeholder="Digite sua senha:"> 
        </div>
        <div class="input-field">
          <label class="control-label"></label>
            <input type="text" class="form-control" placeholder="Confirme sua senha:">
        </div>
            <div class="btn">
                <button class="btn btn-logon">Continuar</button>
            </div>
    </form>
</div>
</div>

