.container-fluid {
    width: 1440px;
    height: 900px;
    left: 0px;
    top: 0px;  
    background: #8C52E5;
    }
  
  .logo{
    //position: absolute;
    width: 291px;
    height: 65px;
    left: 65px;
    top: 58px; 
  
  }
  .form-logon{
  position: absolute;
  width: 455px;
  height: 422px;
  margin-left: 492px;
  top: 239px;
  
  background: #FBFBFB;
  border-radius: 8px;
  }
  .text-logon{
       /* width: 360.79px; */
       height: 57.96px;
       left: 540px;
       top: 261.08px;
       font-family: Roboto;
       font-style: normal;
       font-weight: bold;
       font-size: 20px;
       line-height: 23px;
       /* display: flex; */
       align-items: center;
       text-align: center;
       color: #1D1D1D;
       /* background: cadetblue; */
       margin: 25px;
      }
  .btn-logon {
  width: 360.79px;
  height: 42.78px;
  left: 540px;
  top: 500.34px;
  background: #68DE5A;
  border-radius: 20px;
  }
  .form-control{
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 0;
      border-radius: 0rem;     
      border-bottom: 1px solid #000000;
      box-shadow: none;
  }