<div class="container-fluid">
    <div>
        <img class="logo" src="../assets/gama-academy-logo-horizontal-verde-branco1.png">
    </div>

    <div class="form-logon">
    <form class="form-group p-5">
    <div class="text-logon">
            Faça seu login
    </div>
    <div class="input-field">        
          <label class="control-label" ></label>
            <input type="text" class="form-control" placeholder="Digite sua usuário:"> 
        </div>
        <div class="input-field">
          <label class="control-label"></label>
            <input type="text" class="form-control" placeholder="Digite sua senha">
        </div>
            <div class="btn">
                <button class="btn btn-logon">Continuar
                    <i class="bi bi-arrow-right"></i>
                </button>
            </div>
            <div class="validation">
                <a href="" class="password-validation" title="Esqueci a senha">Esqueci a senha
                    <i class="bi bi-chevron-right"></i>
                </a> <br>
                <a href="" class="not-a-customer" title="Ainda nao sou cliente">Ainda não sou cliente
                    <i class="bi bi-chevron-right"></i>
                </a>
            </div>
    </form>
</div>
</div>

