.container-fluid{
  //background-image: url("../page-home-four/assets/Rectangle 8.png");
  background-color: green;
  width:1440px;
  height:900px;
  margin-right: 0px;
  margin-left: 0px;

}
.img-home{
  width: 773px;
  height: 642px;
  top: 259;
  left: 310px;
}
.complex{
  position: absolute;
  width: 459px;
  height: 50px;
  left: 170px;
  top: 3089px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.desc-complex{
  position: absolute;
  width: 459px;
  height: 50px;
  left: 170px;
  top: 3175px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
 