<div class="card-account-container">
  <div class="card-account-body mt-4">
    <div class="card-name mb-4">
      <img src="assets/icons/dollar-sign.svg">
      <p class="card-name-text ml-3">Conta</p>
    </div>

    <div class="card-balance mt-4">
      <p class="card-balance-title">Saldo disponível</p>
      <p class="card-balance-amount">R$ {{ totalBalance }}</p>
    </div>

    <div class="card-account-details mt-2">
      <p class="card-details-title">Transações</p>
      <p class="card-details-amount">R$ {{ totalTransactions }}</p>
    </div>
  </div>
</div>
